version: "3.9"

services:
  traefik:
    image: traefik:2.11.31
    container_name: "${PREFIX_CONTAINER_NAME}_traefik"
    hostname: traefik
    networks:
      - sudoku_network
    ports:
      - "127.0.0.1:8080:8080/tcp"
      - "80:80/tcp"
      - "443:443/tcp"
      - "127.0.0.1:5432:5432/tcp" # pgsql_instance
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro,cached
      - /var/run/docker.sock:/var/run/docker.sock:ro,cached
      - ./sudoku-config/traefik/custom:/etc/traefik/custom:ro,cached
      - ./sudoku-config/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro,cached

  redis:
    image: eqalpha/keydb:latest
    container_name: "${PREFIX_CONTAINER_NAME}_redis"
    hostname: redis
    networks:
      - sudoku_network
    expose:
      - "6379/tcp"
    restart: unless-stopped
    volumes:
      - ./sudoku-config/redis/data:/data:delegated
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.redis.entrypoints=redis"
      - "traefik.tcp.routers.redis.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.redis.service=redis"
      - "traefik.tcp.services.redis.loadBalancer.server.port=6379"

  elasticsearch:
    image: elasticsearch:9.1.8
    container_name: "${PREFIX_CONTAINER_NAME}_elasticsearch"
    hostname: elasticsearch
    networks:
      - sudoku_network
    expose:
      - "9200/tcp"
    restart: unless-stopped
    volumes:
      - ./sudoku-config/elasticsearch/data:/usr/local/etc/elasticsearch/data:delegated
    environment:
      ES_JAVA_OPTS: -Xms512m -Xmx512m
      discovery.type: single-node
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.elasticsearch.entrypoints=elasticsearch"
      - "traefik.tcp.routers.elasticsearch.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.elasticsearch.service=elasticsearch"
      - "traefik.tcp.services.elasticsearch.loadBalancer.server.port=9200"

networks:
  sudoku_network:
    name: sudoku_network
    driver: bridge
